.home{
    border: 1px solid cyan;
    overflow:auto;
}

.home img {
    width:100%;
}

.main-header{
    position: fixed;
    z-index:99;
    width:100%;
    height:65px;
    /* border-bottom: -10px; */
}

.logo-search-header{
    padding-top:80px;
}
.login-nav-bar{
    padding-top:15px;
}
.item-container img{
    margin-top:15px;
    max-width:250px;
}

.item-container{
    background-color: rgba(73, 114, 109, 0.8);
    padding-top:2vh;
    color: #eee;
}

.item-container img, h1,h2,h3,h4,h5,h6,p,#email{
    display:block;
    margin-top:35px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:35px;
    /* width:30vw; */
    border-radius: 8px;
    text-align:center;
    text-decoration: none;
}

.logo{
    border-radius:2px;
    height:70px;
}

.finePrint{
    font-size: 9px;
}

.carousel-container{
    max-height:700px;
    overflow:hidden;
}

