html{
    background-color:#004d40;
    /* overflow:hidden; */
}

body{
    /* margin-top:30px; */
    background-image: url('/images/main_background.png');
    background-size:cover;

}

.underConstruction{
    font-size: 5vw;
}


@keyframes App-logo-spin{
    from{
        transform:rotate (0 deg)
    }
    to{
        transform:rotate (360 deg)
    }
}